# Dashboard

dashboard.nm.ingsoc.xyz {
    tls /certs/fullchain.pem /certs/dashboard_nm_ingsoc_xyz.key

    log {
        output file /data/caddy/logs/dashboard.log
        format single_field common_log
    }

    header {
		# Enable cross origin access to *.{$NM_DOMAIN}
		Access-Control-Allow-Origin *.nm.ingsoc.xyz
		# Enable HTTP Strict Transport Security (HSTS)
		Strict-Transport-Security "max-age=31536000;"
		# Enable cross-site filter (XSS) and tell browser to block detected attacks
		X-XSS-Protection "1; mode=block"
		# Disallow the site to be rendered within a frame on a foreign domain (clickjacking protection)
		X-Frame-Options "SAMEORIGIN"
		# Prevent search engines from indexing
		X-Robots-Tag "none"
		# Remove the server name
		-Server
	}

	reverse_proxy http://netmaker-ui
}

# API
api.nm.ingsoc.xyz {
    tls /certs/fullchain.pem /certs/dashboard_nm_ingsoc_xyz.key
    reverse_proxy http://netmaker:8081
    log {
        output file /data/caddy/logs/api.log
        format single_field common_log
    }
}

# MQ
broker.nm.ingsoc.xyz {
    tls /certs/fullchain.pem /certs/dashboard_nm_ingsoc_xyz.key
    log {
        output file /data/caddy/logs/broker.log
        format single_field common_log
    }
	@ws {
			header Connection *Upgrade*
			header Upgrade websocket
		}
	reverse_proxy @ws mq:8883   # For EMQX websockets use `reverse_proxy @ws mq:8083`
}
